@use "../../styles/variables.scss" as *;

.episode {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 70px;
  &__img {
    width: 293px;
    height: 450px;
    object-fit: cover;
  }
  &__title {
    max-width: 293px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
  }
  &__date,
  &__id {
    margin-top: 15px;
    font-size: 18px;
  }
  &__chars {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    row-gap: 20px;
    column-gap: 38.5px;
    align-content: flex-start;
    li {
      width: 145px;
      height: fit-content;
      text-align: center;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      transition: all 0.4s ease;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
  &__char {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    transition: all 0.4s ease;
    &:hover {
      color: $light-gray;
    }
  }
  &__back {
    font-weight: 700;
    font-size: 18px;
    &:hover {
      color: $red;
    }
  }
}
