@use "./variables.scss" as *;

@mixin btn {
  color: $white;
  font-weight: 400;
  font-size: 14px;
  border: none;
  min-width: 101px;
  padding: 11px 18px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: transform 0.5s ease;
  transform: translateZ(0);
  cursor: pointer;
  &:hover {
    transform: translateY(-5px) translateZ(0);
  }
}
